<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rescue Center</title>
    <link rel="stylesheet" href="../css/adoptables-page.css" />
  </head>
  <body>
    <header>
      <nav>
        <div id="left-options">
          <img src="../assets/images/navbar/nav-logo.png" alt="" />
          <p>Rescue center</p>
          <p>Apply to adopt</p>
          <p>Volunteer</p>
          <p>Ways to give</p>
          <p>Events</p>
        </div>

        <div id="right-options">
          <img src="../assets/images/navbar/telephone-icon.svg" alt="" />
          <p>631-249-7325</p>
          <button class="heart-btn" id="donate-button">
            <img src="../assets/images/buttons/heart-icon.svg" alt="" />
            <h3>Donate</h3>
          </button>
        </div>
      </nav>
    </header>

    <main>
      <div id="btn-row">
        <button class="back-btn" id="back-button">
          <img src="../assets/images/buttons/back-icon.svg" alt="" />
          <h3>Back</h3>
        </button>
      </div>
      <h1>Our Adoptable Pets</h1>
      <section id="animals-container">
        <div class="card">
          <img
            src="../assets/images/adoptables-page/animals/Bob.png"
            alt="Bob"
          />
          <h2 class="card-title">BOB</h2>
          <button class="card-btn">
            <img src="../assets/images/buttons/animal-icon.svg" alt="" />
            <p>See more</p>
          </button>
        </div>

        <div class="card">
          <img
            src="../assets/images/adoptables-page/animals/Clorinde.png"
            alt="Clorinde"
          />
          <h2 class="card-title">CLORINDE</h2>
          <button class="card-btn">
            <img src="../assets/images/buttons/animal-icon.svg" alt="" />
            <p>See more</p>
          </button>
        </div>

        <div class="card">
          <img
            src="../assets/images/adoptables-page/animals/Roney.png"
            alt="Roney"
          />
          <h2 class="card-title">RONEY</h2>
          <button class="card-btn">
            <img src="../assets/images/buttons/animal-icon.svg" alt="" />
            <p>See more</p>
          </button>
        </div>

        <div class="card">
          <img
            src="../assets/images/adoptables-page/animals/Flocks.png"
            alt="Flocks"
          />
          <h2 class="card-title">FLOCKS</h2>
          <button class="card-btn">
            <img src="../assets/images/buttons/animal-icon.svg" alt="" />
            <p>See more</p>
          </button>
        </div>

        <div class="card">
          <img
            src="../assets/images/adoptables-page/animals/Mary.png"
            alt="Mary"
          />
          <h2 class="card-title">MARY</h2>
          <button class="card-btn">
            <img src="../assets/images/buttons/animal-icon.svg" alt="" />
            <p>See more</p>
          </button>
        </div>

        <div class="card">
          <img
            src="../assets/images/adoptables-page/animals/Robs.png"
            alt="Robs"
          />
          <h2 class="card-title">ROBS</h2>
          <button class="card-btn">
            <img src="../assets/images/buttons/animal-icon.svg" alt="" />
            <p>See more</p>
          </button>
        </div>

        <div class="card">
          <img
            src="../assets/images/adoptables-page/animals/Matt.png"
            alt="Matt"
          />
          <h2 class="card-title">MATT</h2>
          <button class="card-btn">
            <img src="../assets/images/buttons/animal-icon.svg" alt="" />
            <p>See more</p>
          </button>
        </div>

        <div class="card">
          <img
            src="../assets/images/adoptables-page/animals/Aristotle.png"
            alt="Aristotle"
          />
          <h2 class="card-title">ARISTOTLE</h2>
          <button class="card-btn">
            <img src="../assets/images/buttons/animal-icon.svg" alt="" />
            <p>See more</p>
          </button>
        </div>
      </section>
    </main>

    <footer>
      <div id="information-container">
        <div id="company-figures-container">
          <img
            src="../assets/images/adoptables-page/footer/logo.png"
            alt="Company Logo"
            id="logo"
          />
          <h2 id="title">
            FOREVER HOMES
            <img
              src="../assets/images/adoptables-page/footer/heart-icon.svg"
              alt="Heart Icon"
            />
          </h2>
          <p>Helps Save Lives</p>
        </div>
        <div class="options">
          <p>Adopt a Pet</p>
          <p>Adoptable Dogs</p>
          <p>Adoptable Cats</p>
          <p>Become a Foster</p>
          <p>Rescue Center</p>
          <p>Get Involved</p>
        </div>
        <div class="options">
          <p>Ways to Donate</p>
          <p>Upcoming Events</p>
          <p>Outreach Programs</p>
          <p>Who We Are</p>
          <p>Contact Us</p>
          <p>Shop With Purpose</p>
        </div>
        <div id="third-options-container">
          <div class="info" style="align-items: flex-start">
            <img
              src="../assets/images/adoptables-page/footer/location-icon.svg"
              alt="Location Icon"
              style="height: 20px"
            />
            <p>
              PO Box 83644 <br />
              Middleton, 2452 Wilson
            </p>
          </div>
          <div class="info" style="align-items: center">
            <img
              src="../assets/images/adoptables-page/footer/telephone-icon.svg"
              alt="Telephone Icon"
            />
            <p>631-249-7325</p>
          </div>
          <div class="info">
            <img
              src="../assets/images/adoptables-page/footer/mail-icon.svg"
              alt="Mail Icon"
            />
            <p>pet_home@gmail.com</p>
          </div>

          <div id="social-links">
            <img
              src="../assets/images/adoptables-page/footer/twitter-icon.svg"
              alt="Twitter Icon"
            />
            <img
              src="../assets/images/adoptables-page/footer/whatsapp-icon.svg"
              alt="WhatsApp Icon"
            />
            <img
              src="../assets/images/adoptables-page/footer/instagram-icon.svg"
              alt="Instagram Icon"
            />
          </div>
        </div>
      </div>

      <div id="row-container">
        <div id="row"></div>
      </div>
      <h3 id="bottom-title">
        We are not just a rescue, <span>we are a refuge</span>
      </h3>
    </footer>

    <!-- Donate Modal -->
    <!-- Arrumar cor dos botões -->
    <dialog id="donate-modal" class="modal">
      <h1>Choose your Donate</h1>
      <div class="modal-body">
        <label for="email">EMAIL<span>*</span></label>
        <input
          type="email"
          name="email"
          id="donate-email-input"
          value="youremail@here"
        />
        <label for="value">HOW MUCH CAN YOU HELP?<span>*</span></label>
        <input type="text" name="value" id="value-input" value="R$ 95,00" />
        <label for="value">PAYMENT METHOD<span>*</span></label>
        <div id="payment-methods">
          <div class="payment-method" id="pix">
            <p>Pix</p>
            <input type="radio" name="payment-method" />
          </div>
          <div
            class="payment-method"
            id="credit-card"
            style="line-height: 1.2"
          >
            <p>Credit Card</p>
            <input class="payment-input" type="radio" name="payment-method" />
          </div>
          <div class="payment-method" id="paypal">
            <p>Paypal</p>
            <input type="radio" name="payment-method" />
          </div>
        </div>
        <div id="btn-container">
          <button class="help-btn" id="help-button">
            <img src="../assets/images/buttons/heart-icon.svg" alt="" />
            <p>I wanna Help!</p>
          </button>

          <button class="cancel-btn" id="cancel-button">
            <img src="../assets/images/buttons/back-icon.svg" alt="" />
            <p>Cancel</p>
          </button>
        </div>
      </div>
    </dialog>

    <script src="../js/adoptables-page.js"></script>
  </body>
</html>
