<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rescue Center</title>
    <link rel="stylesheet" href="../css/success-page.css" />
  </head>
  <body>
    <header>
      <nav>
        <div id="left-options">
          <img src="../assets/images/navbar/nav-logo.png" alt="Logo" />
          <p>Rescue center</p>
          <p>Apply to adopt</p>
          <p>Volunteer</p>
          <p>Ways to give</p>
          <p>Events</p>
        </div>

        <div id="right-options">
          <img src="../assets/images/navbar/telephone-icon.svg" alt="Telephone Icon" />
          <p>631-249-7325</p>
          <button class="heart-btn" id="donate-button">
            <img src="../assets/images/buttons/heart-icon.svg" alt="Heart Icon" />
            <h3>Donate</h3>
          </button>
        </div>
      </nav>
    </header>
    <div id="row-container">
      <div id="row"></div>
    </div>
    <main>
      <section>
        <div id="left-container">
          <button class="back-btn" id="back-btn">
            <img src="../assets/images/buttons/back-icon.svg" alt="Back Arrow Icon" />
            <h3>Back</h3>
          </button>

          <h2>Success!</h2>
          <p id="message-text">
            Free your creativity and create a beautiful success page to thank your
            user for subscribing/donating to our project.
          </p>
        </div>
        <div id="right-container">
          <img src="" id="success-image">
        </div>
      </section>
    </main>

    <!-- Donate Modal -->
    <dialog id="donate-modal" class="modal">
      <h1>Choose your Donate</h1>
      <div class="modal-body">
        <label for="email">EMAIL<span>*</span></label>
        <input
          type="email"
          name="email"
          id="donate-email-input"
          value="youremail@here"
        />
        <label for="value">HOW MUCH CAN YOU HELP?<span>*</span></label>
        <input type="text" name="value" id="value-input" value="R$ 95,00" />
        <label for="value">PAYMENT METHOD<span>*</span></label>
        <div id="payment-methods">
          <div class="payment-method" id="pix">
            <span class="radio-text">
              <p>Pix</p>
            </span>
            <div class="radio-container">
              <input type="radio" name="payment-method" class="payment-input" />
              <div class="radio-button"></div>
            </div>
          </div>

          <div class="payment-method" id="credit-card">
            <span class="radio-text">
              <p style="line-height: 1.2">Credit Card</p>
            </span>
            <div class="radio-container">
              <input type="radio" name="payment-method" class="payment-input" />
              <div class="radio-button"></div>
            </div>
          </div>

          <div class="payment-method" id="paypal">
            <span class="radio-text">
              <p>Paypal</p>
            </span>
            <div class="radio-container">
              <input type="radio" name="payment-method" class="payment-input" />
              <div class="radio-button"></div>
            </div>
          </div>
        </div>
        <div id="btn-container">
          <button class="help-btn" id="help-button">
            <img
              src="../assets/images/buttons/heart-icon.svg"
              alt="Heart Icon"
            />
            <p>I wanna Help!</p>
          </button>

          <button class="cancel-btn" id="cancel-button">
            <img
              src="../assets/images/buttons/back-icon.svg"
              alt="Back Arrow Icon"
            />
            <p>Cancel</p>
          </button>
        </div>
      </div>
    </dialog>

    <script src="../js/success-page.js"></script>
  </body>
</html>
