@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1f27;
  padding: 20px 0px;
}

nav {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #left-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  /* flex-flow: row wrap; */
}

nav #right-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -15px;
  gap: 20px;
  /* flex-flow: row wrap; */
}

#row-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#row-container #row {
  border-bottom: 2px solid #1e1f27;
  width: 89.18%;
  margin-right: -17px;
  border-radius: 100%;
}

main {
  font-family: "Poppins";
}

main #section-one {
  padding: 20px 70px;
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

main #section-one #right-container {
  width: 35%;
  margin-left: 10px;
}

main #section-one #right-container h2 {
  font-size: 3rem;
  color: #1e1f27;
  margin-bottom: 15px;
  line-height: 60px;
}

main #section-one #right-container p {
  color: #37383f;
  font-weight: 500;
}

main #section-one #right-container > h4 {
  font-size: 24px;
  color: #1e1f27;
  margin-top: 25px;
  margin-bottom: 20px;
}

main #section-one #right-container #buttons {
  display: flex;
  gap: 15px;
}

main #section-one #left-container {
  margin-right: 40px;
}

.heart-btn {
  background-color: #ff3d9a;
  color: #ffffff;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
  cursor: pointer;
}

.apply-adopt-btn {
  border: 2px solid #1e1f27;
  background-color: #fff;
  color: #1e1f27;
  font-family: "Poppins";
  font-size: 16px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
  cursor: pointer;
}

main #section-one #left-container > img {
  height: 75vh;
}

main #section-two {
  background-color: #1e1f27;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

main #section-two p {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

main #section-two #values-container {
  display: flex;
  width: 55vw;
  justify-content: space-between;
}

main #section-two .value-card {
  text-align: center;
}

main #section-two .value-card h1 {
  color: #f8db46;
  font-size: 40px;
}

main #section-two .value-card p {
  font-size: 20px;
}

/* Default Modal */
.modal {
  border: none;
  padding: 10px 30px;
  border-radius: 32px;
  width: 25%;
  height: 80%;
  font-family: "Poppins";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-350%, -50%);
}

.modal h1 {
  color: #1e1f27;
  text-align: center;
}

.modal::backdrop {
  background-color: rgb(0 0 0 /0.7);
}

.modal-body {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.modal-body label {
  color: #ff3d9a;
  font-weight: 700;
  font-size: 11px;
}

.modal-body label span {
  color: #3f96fc;
}

.modal-body input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #3f96fc;
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 500;
}

.modal-body input[type="text"],
.modal-body input[type="email"] {
  pointer-events: none;
}

.modal-body #btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Donate Modal */
.modal-body #value-input {
  text-align: end;
}

.modal-body #payment-methods {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 10px;
  cursor: pointer;
}

.modal-body #payment-methods .payment-method {
  display: flex;
  align-items: center;
  max-height: 3rem;
  border: 1px solid #3f96fc;
  border-radius: 5px;
  padding: 7px 7px;
}

.modal-body #payment-methods .payment-method p {
  margin-right: 20px;
  font-size: 15px;
}

.selected {
  background-color: #3f96fc;
  color: #ffff;
}

.help-btn {
  background-color: #ff3d9a;
  color: #ffffff;
  border: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  padding: 13px 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #37383f;
  color: #ffffff;
  border: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
  cursor: pointer;
}

#donate-modal #payment-methods .radio-container {
  display: inline-block;
}

#donate-modal #payment-methods .radio-container input[type="radio"] {
  display: none;
}

#donate-modal #payment-methods .radio-button {
  width: 20px;
  height: 20px;
  background-color: #37383f;
  border-radius: 50%;
  position: relative;
  margin-left: -10px;
}

#donate-modal #payment-methods .radio-button::after {
  content: "\2714"; /* Código unicode do símbolo de correto (✓) */
  font-size: 12px;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

#donate-modal
  #payment-methods
  .radio-container
  input[type="radio"]:checked
  + .radio-button {
  background-color: #ff3d9a;
}

#donate-modal
  #payment-methods
  .radio-container
  input[type="radio"]:checked
  + .radio-button::after {
  opacity: 1;
}

/* Adopt Modal */
#adopt-modal p {
  font-weight: 500;
  text-align: center;
}

#adopt-modal #btn-container {
  gap: 10px;
}

.adopt-btn {
  width: 100%;
  background-color: #04c27f;
  color: #ffffff;
  border: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.adopt-cancel-btn {
  width: 100%;
  background-color: #37383f;
  color: #ffffff;
  border: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-body #date-options {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.modal-body #date-options .date-option {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-height: 3rem;
  border: 1px solid #3f96fc;
  border-radius: 5px;
  padding: 10px 10px;
}

.modal-body #date-options .date-option p {
  margin-right: 20px;
  font-size: 15px;
}

.modal-body #policy-and-terms #checkbox {
  display: none;
}

.modal-body #policy-and-terms .checkbox-container {
  display: flex;
  align-items: center;
}

.modal-body #policy-and-terms .checkbox-label {
  position: relative;
  cursor: pointer;
}

.modal-body #policy-and-terms .checkbox-custom {
  width: 20px;
  height: 20px;
  background-color: #37383f;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.modal-body #policy-and-terms .checkbox-custom::after {
  content: "\2714"; /* Unicode code of check mark symbol (✓) */
  font-size: 12px;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.modal-body
  #policy-and-terms
  input[type="checkbox"]:checked
  + .checkbox-label
  .checkbox-custom {
  background-color: #04c27f;
}

.modal-body
  #policy-and-terms
  input[type="checkbox"]:checked
  + .checkbox-label
  .checkbox-custom::after {
  opacity: 1;
}

.modal-body #policy-and-terms p {
  font-size: 10px;
  font-weight: 600;
  margin-left: 5px;
}

.modal-body #policy-and-terms p .terms-link {
  color: #ff3d9a;
  cursor: pointer;
  text-decoration: none;
}

.modal-body #policy-and-terms #policy-input {
  cursor: pointer;
}

/* Animations */
@keyframes showAnimation {
  from {
    transform: translate(350%, -50%) scale(0.9);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes hideAnimation {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(350%, -50%) scale(0.9);
  }
}

.show {
  animation: showAnimation 0.4s ease forwards;
}

.hide {
  animation: hideAnimation 0.4s ease forwards;
}
